@import '../../common/style/variables.scss';

.container {
    padding: 10px;
}

.section {
    display: flex;

    &__table {
        flex: 0.7;
    }

    &__options{
        padding-left: 20px;
        flex: 0.3;
    }
}